<div id="add-project-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
    <form method="post" action="{% url 'hc-add-project' %}">
        {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create New Project</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="add-project-name" class="form-label">Name your project</label>
                <input
                    id="add-project-name"
                    type="text"
                    name="name"
                    class="form-control form-control-lg mb-4"
                    autocomplete="off"
                    required />

                <button
                    type="submit"
                    name="set_project_name"
                    class="btn btn-lg btn-primary w-100">
                    Create Project
                </button>
            </div>
        </div>
    </form>
    </div>
</div>
