{% extends "base.html" %}
{% load compress hc_extras static tz %}

{% block title %}Account Settings - {{ site_name }}{% endblock %}

{% block content %}
{% include "accounts/settings_nav.html" with active="reports" %}

    <div class="col-sm-9 col-md-6">
        <div class="card mb-4 border-{{ status }}">
            <div id="email-reports" class="card-body settings-block">
                <form method="post">
                    {% csrf_token %}
                    <h2>Email Reports</h2>

                    <p>Periodic email reports:</p>
                    <label class="form-check">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="reports"
                            value="off"
                            {% if profile.reports == "off" %} checked {% endif %}>
                        Off
                    </label>
                    <label class="form-check">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="reports"
                            value="daily"
                            {% if profile.reports == "daily" %} checked {% endif %}>
                        <strong>Daily</strong> between 9:00 and 11:00
                    </label>
                    <label class="form-check">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="reports"
                            value="weekly"
                            {% if profile.reports == "weekly" %} checked {% endif %}>
                        <strong>Weekly</strong> on Mondays
                    </label>
                    <label class="form-check">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="reports"
                            value="monthly"
                            {% if profile.reports == "monthly" %} checked {% endif %}>
                        <strong>Monthly</strong> on 1st of every month
                    </label>

                    <br>
                    <p>Ongoing reminders if any checks are down:</p>

                    <label class="form-check">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="nag_period"
                            value="0"
                            {% if profile.nag_period.total_seconds == 0 %} checked {% endif %}>
                        Do not remind me
                    </label>
                    <label class="form-check">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="nag_period"
                            value="86400"
                            {% if profile.nag_period.total_seconds == 86400 %} checked {% endif %}>
                        Remind me <strong>daily</strong>
                    </label>
                    <label class="form-check">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="nag_period"
                            value="3600"
                            {% if profile.nag_period.total_seconds == 3600 %} checked {% endif %}>
                        Remind me <strong>hourly</strong>
                    </label>

                    <br />
                    <p class="text-muted">
                        {% site_name %} will send reports and ongoing reminders to
                        <strong>{{ profile.user.email }}</strong>.
                        {% if profile.next_report_date %}
                            {% timezone profile.tz %}
                                <br />
                                Next {{ profile.reports }} report date is
                                {{ profile.next_report_date|date:"F j, Y" }}.
                            {% endtimezone 0%}
                        {% endif %}
                    </p>
                    <br />
                    <button
                        type="submit"
                        class="btn btn-outline-secondary float-end">Save Changes</button>
                </form>
            </div>
            {% if status == "info" %}
            <div class="card-footer">
                Your settings have been updated!
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
