{% extends "base.html" %}
{% load compress static hc_extras %}

{% block title %}Account Settings - {{ site_name }}{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1 class="settings-title">
            Settings
            <small class="text-body-secondary">{{ request.user.email }}</small>
        </h1>
    </div>
    {% if messages %}
    <div class="col-sm-12">
        {% for message in messages %}
            <p class="alert alert-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-sm-3">
        <ul class="nav nav-pills flex-column mb-4">
            <li class="nav-item"><a class="nav-link active" href="{% url 'hc-profile' %}">Account</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'hc-notifications' %}">Email Reports</a></li>
        </ul>
    </div>

    <div class="col-sm-9 col-md-6">
        <div class="card mb-4 border-{{ email_password_status|default:'default' }}">
            <div class="card-body settings-block">
                <form method="post">
                    {% csrf_token %}
                    <h2>Email and Password</h2>
                    <p class="settings-bar">
                        Your account's email address is
                        <code>{{ request.user.email }}</code>

                        <a
                            href="{% url 'hc-change-email' %}"
                            class="btn btn-outline-secondary float-end">Change Email</a>
                    </p>
                    <p class="clearfix"></p>
                    {% if request.user.has_usable_password %}
                    <p class="settings-bar">
                        Password authentication is enabled.
                        <a
                            href="{% url 'hc-set-password' %}"
                            class="btn btn-outline-secondary float-end">Change Password</a>
                    </p>
                    {% else %}
                    <p class="settings-bar">
                        Attach a password to your {{ site_name }} account.
                        <a
                            href="{% url 'hc-set-password' %}"
                            class="btn btn-outline-secondary float-end">Set Password</a>
                    </p>
                    {% endif %}
                </form>
            </div>
            {% if changed_password %}
            <div class="card-footer">
                Your new password has been set!
            </div>
            {% endif %}
        </div>

        <div class="card mb-4 border-{{ 2fa_status }}">
            <div class="card-body settings-block">
                <form method="post">
                    {% csrf_token %}
                    <h2>Two-factor Authentication</h2>

                    <table id="my-keys" class="table align-middle">
                        {% if use_webauthn %}
                        <tr>
                            <th>Security keys</th>
                            <th></th>
                        </tr>
                        {% for credential in credentials %}
                        <tr>
                            <td>
                                {{ credential.name|default:"unnamed" }}
                                <span class="text-muted">
                                – registered on {{ credential.created|date:"M j, Y" }}
                                </span>
                            </td>
                            <td class="text-end">
                                <a href="{% url 'hc-remove-credential' credential.code  %}">Remove</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="missing" colspan="2">No registered security keys</td>
                        </tr>
                        {% endfor %}
                        {% endif %}

                        <tr>
                            <th>Authenticator app</th>
                            <th></th>
                        </tr>
                        {% if profile.totp %}
                        <tr>
                            <td>
                                Enabled
                                <span class="text-muted">
                                – configured on {{ profile.totp_created|date:"M j, Y" }}
                                </span>
                            </td>
                            <td class="text-end">
                                <a href="{% url 'hc-remove-totp' %}">Remove</a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td class="missing" colspan="2">Not configured</td>
                        </tr>
                        {% endif %}
                    </table>

                    {% if credentials|length == 1 and not profile.totp %}
                    <div class="alert alert-warning">
                        <p>
                        <strong>The key "{% for c in credentials%}{{ c.name }}{% endfor %}" is currently your only second factor.</strong>
                        If you lose this key, or it stops working, you will lose
                        access to your {% site_name %} account.
                        </p>
                        <p>
                        Register a second security key, to be used
                        as a backup second factor.
                        </p>
                    </div>
                    {% endif %}

                    {% if not credentials and profile.totp %}
                    <div class="alert alert-warning">
                        <p>
                        <strong>The Authenticator app is currently your only second factor.</strong>
                        If you lose access to it, you will lose access to your
                        {% site_name %} account.
                        </p>
                        <p>
                        Make sure you have a backup of the Authenticator app's TOTP
                        seed{% if use_webauthn %}, or register a Security Key to be used as a backup second factor{% endif %}.
                        </p>
                    </div>
                    {% endif %}

                    {% if not credentials and not profile.totp %}
                    <p class="alert alert-info">
                    Two-factor authentication is currently <strong>inactive</strong>.
                    Your account does not have any configured two-factor authentication
                    methods.
                    </p>
                    {% endif %}

                    <div class="text-end">
                        {% if not profile.totp %}
                        <a
                            href="{% url 'hc-add-totp' %}"
                            class="btn btn-outline-secondary">
                            Set Up Authenticator App
                        </a>
                        {% endif %}
                        {% if use_webauthn %}
                        <a
                            href="{% url 'hc-add-webauthn' %}"
                            class="btn btn-outline-secondary">
                            Add Security Key
                        </a>
                        {% endif %}
                    </div>
                </form>
            </div>

            {% if added_credential_name %}
            <div class="card-footer">
                Added security key <strong>{{ added_credential_name }}</strong>.
            </div>
            {% endif %}

            {% if removed_credential_name %}
            <div class="card-footer">
                Removed security key <strong>{{ removed_credential_name }}</strong>.
            </div>
            {% endif %}

            {% if enabled_totp %}
            <div class="card-footer">
                Successfully set up the Authenticator app.
            </div>
            {% endif %}

            {% if disabled_totp %}
            <div class="card-footer">
                Disabled the authenticator app.
            </div>
            {% endif %}
        </div>

        <div class="card mb-4">
            <div class="card-body settings-block">
                <h2>My Projects</h2>

                {% if ownerships %}
                <table id="my-projects" class="table align-middle">
                    <tr>
                        <th>Project</th>
                        <th></th>
                    </tr>
                    {% for project in ownerships %}
                    <tr>
                        <td>
                            <div class="name">
                                <a href="{% url 'hc-checks' project.code %}">
                                    {{ project }}
                                </a>
                            </div>
                        </td>
                        <td class="text-end">
                            <a href="{% url 'hc-project-settings' project.code %}">Settings</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <p>You do not have any projects. Create one!</p>
                {% endif %}

                <a
                    id="create-project"
                    href="#"
                    class="btn btn-outline-secondary float-end"
                    data-bs-toggle="modal"
                    data-bs-target="#add-project-modal">Create a New Project</a>
            </div>
        </div>

        <div class="card mb-4 border-{{ tz_status }}">
            <div id="tz-settings" class="card-body settings-block">
                <form method="post">
                    {% csrf_token %}
                    <h2>Preferred Time Zone</h2>
                    <select id="tz" name="tz" class="form-select">
                        <option{% if profile.tz == "UTC" %} selected{% endif %}>UTC</option>
                        {% for tz in timezones %}
                        {% if tz != "UTC" %}
                        <option{% if profile.tz == tz %} selected{% endif %}>{{ tz }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>

                    <br />
                    <p id="browser-tz-hint" class="d-none">
                        Tip: your browser's time zone is <b>FIXME</b>.
                        <a href="#">Use it instead?</a>
                    </p>

                    <p>{% site_name %} will use your preferred time zone to:</p>
                    <ul>
                        <li>Format dates and times here in the web interface.</li>
                        <li>Format dates and times in monitoring alerts.</li>
                        <li>
                            Deliver <a href="{% url 'hc-notifications' %}">email reports</a>
                            (if enabled) between 9:00 and 11:00 local time.
                        </li>
                    </ul>
                    <br />
                    <button type="submit" class="btn btn-outline-secondary float-end">Save Changes</button>
                </form>
            </div>
            {% if tz_updated %}
            <div class="card-footer">
                Time zone updated!
            </div>
            {% endif %}
        </div>

        <div class="card mb-4">
            <div class="card-body settings-block">
                <h2>Close Account</h2>
                <p>This will permanently remove your {{ site_name }} account.</p>
                <div class="text-end">
                    <a href="{% url 'hc-close' %}" class="btn btn-outline-danger">Close Account</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "accounts/add_project_modal.html" %}

{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'vendor/tom-select/tom-select.popular.min.js' %}"></script>
<script src="{% static 'js/add_project_modal.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
{% endcompress %}
{% endblock %}
