{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <div class="hc-dialog">
            <h1>Set a Password</h1>
            <div class="dialog-body">
                <p>
                    Please pick a password for your {{ site_name }} account.
                </p>
            </div>

            <form method="post">
                {% csrf_token %}

                <div id="set-password-group" class="mb-3">
                    <input
                        id="password"
                        type="password"
                        minlength="8"
                        class="form-control form-control-lg"
                        name="password"
                        placeholder="pick a password (at least 8 characters)"
                        required>
                </div>

                <div class="clearfix">
                    <button type="submit" class="btn btn-lg btn-primary float-end">
                        Set Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
