{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <div class="hc-dialog">
            {% if no_mail %}
            <h1>Email Needed</h1>
            <br />
            <p>This page needs a confirmation code sent by email, and this server cannot send email.</p>
            <p>To set a new password without it, run <code>manage.py changepassword</code> from the shell.</p>
            {% else %}
            <h1>Enter a Confirmation Code</h1>
            <br />
            <p>
                We have sent a confirmation code to your email
                address. Please enter it below to continue:
            </p>

            <form method="POST">
                {% csrf_token %}

                <div class="mb-3 {% if wrong_code %}has-error{% endif %}">
                    <input
                        id="sudo-code"
                        type="text"
                        class="form-control form-control-lg"
                        maxlength="6"
                        name="sudo_code"
                        autofocus />

                    {% if wrong_code %}
                    <div class="form-text">
                        Not a valid code. Did you type it in correctly?
                    </div>
                    {% endif %}
                </div>

                <button
                    class="btn btn-lg btn-primary w-100"
                    type="submit">
                    Continue
                </button>

            </form>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}
