#channel-choices label {
    cursor: pointer;
    user-select: none;
}

#channel-choices img {
    max-height: 40px;
}

#channel-choices .channel-details-mini {
    font-size: 11.7px;
    color: var(--bs-tertiary-color);
}
