.card.border-success > .card-footer {
    background: var(--panel-success-bg);
    color: var(--alert-success-color);
    font-size: small;
    text-align: center;
}

.card.border-info > .card-footer {
    background: var(--state-info-bg);
    color: var(--state-info-color);
    font-size: small;
    text-align: center;
}

#my-projects .name {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#my-keys .missing {
    font-style: italic;
    color: var(--text-muted);
}

.settings-bar {
    line-height: 34px;
}

.add-totp-step {
    margin-top: 32px;
}

code.totp-secret {
    display: block;
    padding: 4px 0;
    font-size: 18px;
}

#tz-settings .ts-wrapper {
    max-width: 300px;
}
