#my-projects .name {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#my-keys .missing {
    font-style: italic;
    color: var(--bs-secondary-color);
}

.settings-bar {
    line-height: 34px;
}

.add-totp-step {
    margin-top: 32px;
}

code.totp-secret {
    display: block;
    padding: 4px 0;
    font-size: 18px;
}

#tz-settings .ts-wrapper {
    max-width: 300px;
}
