#project-selector a:hover .project,
#project-selector .project.selected {
    border-color: var(--bs-primary);
}

#project-selector a:focus .project {
    border-color: var(--bs-primary);
    outline: solid var(--bs-primary);
}

#project-selector .project {
    padding: 24px 24px 24px 64px;
    min-height: 120px;
}

#project-selector .project h4 {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#project-selector #add-project .project {
    border-style: dashed;
    padding: 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--bs-secondary-color);
    line-height: 120px;
}

#project-selector #add-project:hover .project {
    color: var(--bs-body-color);
}

.indicators {
    position: absolute;
    left: 24px;
    width:  24px;
}
