.settings-title {
    padding-bottom: 24px;
}

.settings-block {
    padding: 24px;
    /* contain the float-end buttons */
    display: flow-root;
}

.settings-block h2 {
    margin: 0;
    padding-bottom: 24px;
}

.page-project .card-footer {
    overflow-wrap: break-word;
}
