.kind-simple,
.kind-cron {
    width: 70px;
}

/* Simple */

#update-timeout-form .modal-body {
    padding-top: 35px;
}

.interval-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.interval-controls label {
    padding-right: 16px;
    width: 120px;
    text-align: right;
}

.interval-controls input {
    width: 100px;
    text-align: center;
}

.interval-controls select {
    width: auto;
    padding-left: 8px;
    margin-left: 8px;
}

#period-slider {
    margin: 20px 50px 90px 50px;
}

#period-slider .noUi-connect {
    background: var(--hc-confirm);
}

#grace-slider {
    margin: 20px 50px 110px 50px;
}

#grace-slider .noUi-connect {
    background: var(--hc-grace);
}

#period-slider .noUi-value,
#grace-slider .noUi-value {
    cursor: pointer;
    color: var(--bs-secondary-color);
    font-size: 12px;
    padding-top: 5px;
}

#period-slider .noUi-value:hover,
#grace-slider .noUi-value:hover {
    color: var(--bs-body-color);
}

.update-timeout-terms {
    color: var(--bs-secondary-color);
}

.update-timeout-terms p {
    margin: 0;
}

.update-timeout-terms span {
    font-weight: bold;
}

/* Cron */

#update-cron-form .modal-body {
    padding: 40px;
}

#update-timeout-grace-cron-unit {
    width: 90px;
}

.schedule-hint {
    margin-left: 8px;
    font-size: small;
}

#cron-description {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    color: var(--bs-body-color);
    padding: 16px 8px 0 8px;
}

#cron-preview {
    background: var(--bs-tertiary-bg);
    min-height: 298px;
}

#cron-preview p {
    padding: 8px;
    font-size: small;
}

#cron-preview th {
    font-weight: normal;
    font-size: small;
}

#cron-preview-table {
    margin: 0;
}

#cron-preview-table tr td:nth-child(1) {
    width: 120px;
}

#cron-preview-table tr td:nth-child(2) {
    font-size: small;
}

#cron-preview-table tr td:nth-child(3) {
    font-size: small;
    font-family: monospace;
    text-align: right;
    color: var(--bs-secondary-color);
}

/* OnCalendar */

#update-oncalendar-form .modal-body {
    padding: 0 15px;
}

#oncalendar-controls {
    padding: 25px;
}

#update-timeout-grace-oncalendar,
#update-timeout-grace-oncalendar-unit {
    width: 90px;
}

#oncalendar-preview {
    background: var(--bs-tertiary-bg);
    min-height: 409px;
}

#invalid-oncalendar-arguments {
    padding: 15px;
}

#oncalendar-preview table.table {
    margin: 25px 0 15px 0;
}

#oncalendar-preview table td:nth-child(1) {
    text-align: right;
}

#oncalendar-preview th {
    padding-top: 0;
    font-weight: normal;
}

#oncalendar-preview tr.in-utc td,
#oncalendar-preview tr.from-now td {
    padding-top: 0;
}

/* One border under each date's group of rows */
#oncalendar-preview tr:not(.from-now) td {
    border-bottom: 0;
}

#oncalendar-preview tr.from-now td {
    font-size: small;
}
