:root {
    color-scheme: light;
    --account-warning-bg:  #ffab0b;
    --alert-no-data-bg: #f5f5f5;
    --alert-no-data-border: #ddd;
    --alert-no-data-color: #444;
    --alert-success-bg: #dff0d8;
    --alert-success-border: #d6e9c6;
    --alert-success-color: #3c763d;
    --body-bg: #FFF;
    --border-color: #ddd;
    --border-muted:  #eee;
    --breadcrumb-active-color: #777;
    --breadcrumb-bg: #f5f5f5;
    --btn-active-bg: #e6e6e6;
    --btn-active-border: #adadad;
    --btn-active-color: #333;
    --btn-default-bg: #fff;
    --btn-default-border: #ccc;
    --btn-default-color: #333;
    --btn-remove-bg: #fff;
    --btn-remove-color: #d43f3a;
    --btn-remove-hover: #ffebea;
    --cheatsheet-example-bg: #f5f5f5;
    --cheatsheet-dotted-color: #ccc;
    --close-color: #000;
    --debug-warning-bg:  #eee;
    --dropdown-bg: #fff;
    --dropdown-link-hover-bg: #f5f5f5;
    --input-bg-disabled: #eeeeee;
    --input-border: #ccc;
    --input-color:  #555;
    --input-group-addon-bg: #eeeeee;
    --jumbotron-bg:  #eee;
    --label-ign-bg: #e0e0e0;
    --label-ign-color: #333;
    --label-start-color: #117a3f;
    --link-color: #0091EA;
    --link-hover-color: #00629e;
    --log-flip-bg: #eee;
    --modal-content-bg: #fff;
    --nav-link-hover-bg: #eee;
    --panel-bg: #fff;
    --panel-default-heading-bg: #f5f5f5;
    --panel-success-bg: #dff0d8;
    --pre-bg: #f5f5f5;
    --ts-tag-bg: #efefef;
    --small-text-color: #111;
    --state-info-bg: #d9edf7;
    --state-info-border: #bce8f1;
    --state-info-color: #31708f;
    --status-new-color: #ccc;
    --table-bg-hover: #f5f5f5;
    --tag-bg: #eee;
    --tag-checked-bg: #333;
    --tag-checked-border: #000;
    --tag-checked-color: #eee;
    --tag-checked-shadow: #ddd;
    --tag-color: #555;
    --tag-up-bg: #fff;
    --tag-up-border: #ccc;
    --tag-up-color: #333;
    --text-color: #333;
    --text-muted:  #767676;
    --text-success: #3c763d;
    --text-warning: #8a6d3b;
    --text-danger: #a94442;
    --log-new-row-bg: #d9edf7;
    --log-new-row-border: #bce8f1;
}
