ALLOWED_HOSTS=localhost
DB=postgres
DB_CONN_MAX_AGE=0
DB_HOST=db
DB_NAME=hc
DB_PASSWORD=fixme-postgres-password
DB_PORT=5432
DB_SSLMODE=prefer
DB_TARGET_SESSION_ATTRS=read-write
DB_USER=postgres
DEBUG=False
DEFAULT_FROM_EMAIL=healthchecks@example.org
EMAIL_HOST=
EMAIL_HOST_PASSWORD=
EMAIL_HOST_USER=
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_VERIFICATION=True
INTEGRATIONS_ALLOW_PRIVATE_IPS=False
MASTER_BADGE_LABEL=Healthchecks
PING_BODY_LIMIT=10000
PING_ENDPOINT=http://localhost:8000/ping/
PROMETHEUS_ENABLED=True
RP_ID=
SECRET_KEY=---
SITE_LOGO_URL=
SITE_NAME=Healthchecks
SITE_ROOT=http://localhost:8000
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_ENABLED=True
WEBHOOKS_ENABLED=True
