{% if ch.kind == "email" %}
    Email to <span>{{ ch.email.value }}</span>
    {% if ch.email.notify_down and not ch.email.notify_up %}
        (down only)
    {% endif %}
    {% if ch.email.notify_up and not ch.email.notify_down %}
        (up only)
    {% endif %}
{% elif ch.kind == "slack" %}
    Slack
    {% if ch.slack_team %}
        team <span>{{ ch.slack_team }}</span>,
        channel <span>{{ ch.slack_channel }}</span>
    {% endif %}
{% elif ch.kind == "group" %}
    Group,
    {% with ch.group_channels.count as num_members %}
    {{ num_members }} member{{ num_members|pluralize}}
    {% endwith %}
{% else %}
    {{ ch.get_kind_display }}
{% endif %}
