{% extends "base_project.html" %}
{% load compress static hc_extras %}

{% block title %}{{ num_down|num_down_title }}{% endblock %}
{% block favicon %}
    {% if num_down %}
    <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon_down.svg' %}">
    {% else %}
    <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}">
    {% endif %}
{% endblock %}

{% block content %}

{% if checks %}
<div id="check-filters">
    <div id="my-checks-tags">
    {% for tag, status, tooltip in tags %}
        <button type="button" data-tooltip="{{ tooltip }}" class="btn btn-sm {{ status }} {% if tag in selected_tags %}checked{% endif%}">{{ tag }}</button>
    {% endfor %}
    </div>
    <div id="search-group" class="input-group">
        <input
            id="search"
            type="text"
            class="form-control"
            value="{{ search }}">
        <div id="filters" class="dropdown">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown"></button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><h6 class="dropdown-header">Filter by status</h6></li>
                {% for value, label, icon in status_filters %}
                <li>
                    <button type="button" class="dropdown-item" data-value="{{ value }}">
                        <span class="status ic-{{ icon }}"></span> {{ label }}
                    </button>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% for value, label, icon in status_filters %}
    <button
        type="button"
        class="filter-btn btn btn-outline-secondary{% if value not in selected_statuses %} d-none{% endif %}"
        data-value="{{ value }}">{{ label }} ×</button>
    {% endfor %}

    <button
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#add-check-modal">
            Add Check
        </button>
</div>


<div class="row">
    <div class="col-sm-12">
        {% include "front/checks_table.html" %}
        <div id="no-checks" {% if num_visible > 0 %}class="d-none"{% endif %}>
            no matching checks found
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info">
            The project <strong>{{ project }}</strong> does not have any checks yet.
            <br><br>
            <button
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#add-check-modal">
                    Add Check
            </button>
        </div>
    </div>
</div>

{% endif %}



{% include "front/update_name_modal.html" %}
{% include "front/update_timeout_modal.html" %}
{% include "front/add_check_modal.html" %}

{% include "front/ping_details_modal.html" with log_link=True %}

{% endblock %}

{% block scripts %}
<script id="common-timezones" type="data">{{ common_timezones|join:"," }}</script>
<script id="all-timezones" type="data">{{ timezones|join:"," }}</script>
{% compress js %}
<script src="{% static 'vendor/tom-select/tom-select.popular.min.js' %}"></script>
<script src="{% static 'vendor/nouislider/nouislider.min.js' %}"></script>
<script src="{% static 'js/initialize-timezone-selects.js' %}"></script>
<script src="{% static 'js/schedule.js' %}"></script>
<script src="{% static 'js/update-timeout-modal.js' %}"></script>
<script src="{% static 'js/adaptive-setinterval.js' %}"></script>
<script src="{% static 'js/dates.js' %}"></script>
<script src="{% static 'js/ping_details.js' %}"></script>
<script src="{% static 'js/checks.js' %}"></script>
<script src="{% static 'js/add-check-modal.js' %}"></script>
<script src="{% static 'js/slug-suggestions.js' %}"></script>
{% endcompress %}
{% endblock %}
