{% load humanize hc_extras  %}

<div class="modal-body">
    <h3>Ping #{{ ping.n }}
        {% if ping.kind == "ign" %}
        <span class="text-body-secondary">(ignored)</span>
        {% elif ping.exitstatus > 0 %}
        <span class="text-danger">(failure, exit status {{ ping.exitstatus }})</span>
        {% elif ping.exitstatus == 0 %}
        <span class="text-success">(exit status 0)</span>
        {% elif ping.kind == "fail" %}
        <span class="text-danger">(received via the <code>/fail</code> endpoint)</span>
        {% elif ping.kind == "start" %}
        <span class="text-success">(received via the <code>/start</code> endpoint)</span>
        {% elif ping.kind == "log" %}
        <span class="text-body-secondary">(received via the <code>/log</code> endpoint)</span>
        {% endif %}
    </h3>

    <div class="row">
        <div class="col-sm-12">
            <p>
                <strong>Time Received</strong>
                <code>{{ ping.created.isoformat }}</code>
            </p>
            <div class="times mb-3" data-dt="{{ ping.created|timestamp }}">
                {% for tz in tz_switches %}
                <div>
                    {{ tz }}<br>
                    <span data-tz="{{ tz }}"></span>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-sm-6">
            <p>
                <strong>Source</strong>
                {{ ping.scheme|upper }} {{ ping.method|upper }}
                {% if ping.remote_addr %}from {{ ping.remote_addr }}{% endif %}
            </p>
        </div>

        {% if ping.duration %}
        <div class="col-sm-6">
            <p>
                <strong>Duration</strong>
                <span class="ic-timer"></span> {{ ping.duration|hms }}
            </p>
        </div>
        {% endif %}

        {% if ping.rid %}
        <div class="col-sm-6">
            <p>
                <strong>Run ID</strong>
                <span>{{ ping.rid }}</span>
            </p>
        </div>
        {% endif %}

        <div class="col-sm-12">
            <p>
                <strong>User Agent</strong>
                <span class="ua">{{ ping.ua }}</span>
            </p>
        </div>
    </div>

    {% if ping.has_body %}
        <h4>Request Body</h4>

        <pre>{{ body }}</pre>
        <p class="download">
            <a href="{% url 'hc-ping-body' check.code ping.n %}">Download Original</a>
        </p>
    {% endif %}
</div>
