{% load hc_extras %}
<div id="show-usage-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header flex-wrap">
                <h4 id="usage-examples-title" class="modal-title">
                    {% if check.name %}"{{ check.name }}"{% endif %}
                    Usage Examples
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <ul class="nav nav-pills w-100" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#crontab" data-bs-toggle="pill">Crontab</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#bash" data-bs-toggle="pill">Bash</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#python" data-bs-toggle="pill">Python</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#node" data-bs-toggle="pill">Node.js</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#go" data-bs-toggle="pill">Go</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#browser" data-bs-toggle="pill">Browser</a>
                    </li>
                </ul>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    {% with ping_url=check.url %}
                    <div role="tabpanel" class="tab-pane active" id="crontab">
                        {% with check|guess_schedule as schedule %}
                        <div class="highlight">
                            <pre><span class="c1"># A sample crontab entry. Note the curl call appended after the command.</span>{% if not schedule %}
<span class="c1"># FIXME: replace "* * * * *" below with the correct cron expression!</span>{% endif %}
<span class="c1"># FIXME: replace "/your/command.sh" below with the correct command!</span>
{{ schedule|default:"* * * * *" }} /your/command.sh && curl -fsS -m 10 --retry 5 -o /dev/null {{ ping_url }}</pre>
                        </div>
                        <div class="highlight">
                            <pre><span class="c1"># Here's the part you need to append, provided here separately for easy copy/pasting:</span>
&& curl -fsS -m 10 --retry 5 -o /dev/null {{ ping_url }}</pre>
                        </div>
                        {% endwith %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="bash">
                        {% include "front/snippets/bash_curl.html" %}
                        {% include "front/snippets/bash_wget.html" %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="python">
                        {% include "front/snippets/python_urllib2.html" %}
                        {% include "front/snippets/python_requests.html" %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="node">
                        {% include "front/snippets/node.html" %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="go">
                        {% include "front/snippets/go.html" %}
                    </div>
                    <div class="tab-pane" id="browser">
                        {% include "front/snippets/browser.html" %}
                    </div>
                    {% endwith %}
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Got It!</button>
            </div>
        </div>
    </div>
</div>
