{% load hc_extras %}

<form
    action="{% url 'hc-transfer' check.code %}"
    method="post">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Transfer to Another Project</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">
                Check
            </label>
            <div class="col-sm-7">
                <p class="form-control-plaintext">{{ check.name_then_code }}</p>
            </div>
        </div>

        <div class="row mb-3">
            <label for="target-project" class="col-sm-4 col-form-label">
                Target Project
            </label>
            <div class="col-sm-7">
                <select
                    id="target-project"
                    name="project"
                    title="Select..."
                    class="form-select">
                    <option></option>
                    {% for project in request.profile.projects.all %}
                        {% if project == check.project %}
                            <option disabled>{{ project }} (current project)</option>
                        {% else %}
                            <option value="{{ project.code }}">{{ project }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="text-warning">
            <strong>Integrations will get reset.</strong>
            The check will lose its current notification
            channels, and will be assigned all notification
            channels of the target project.
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        <button
            id="transfer-confirm"
            disabled
            type="submit"
            class="btn btn-primary">Transfer</button>
    </div>
</form>
