{% extends "base.html" %}
{% load compress static %}

{% block base_modals %}
{% if request.user.is_authenticated %}
{% include "accounts/add_project_modal.html" %}
{% endif %}
{% endblock %}

{% block base_scripts %}
{% compress js %}
<script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/hc.js' %}"></script>
<script src="{% static 'js/projects_menu.js' %}"></script>
<script src="{% static 'js/add_project_modal.js' %}"></script>
{% endcompress %}
{% endblock %}
